/* CSS Variables */

/* The ROOT */
:root {
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

/* Whole Page */
* {
    margin: 0;
    padding: 0;
}

/* HTML */
html {
    font-family: Poppins;
}

/* Body */
body {
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    /* border: 1px solid black; */
    width: 80%;
}

/* Header */
h1 {
    font-weight: bold;
    font-size: 2.2rem;
}

/* Para */
.para {
    font-family: Poppins;
    width: 60%;
    min-width: 400px;
    font-size: 1rem;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 1em;
}

/* The Buttons physical */
button {
    border: none;
    padding: 1em 4em;
    color: white;
    /* font-weight: bold; */
    font-family: Poppins;
    font-size: 1rem;
    cursor: pointer;
}

/* Link in Buttons */
button a {
    text-decoration: none;
    color: white;
}

/* The Buttons unique */
#button_1 {
    background-color: var(--accent-color);
    
}

#button_2 {
    background-color: var(--primary-color);
}

/* Darkmode */
.darkmode {
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

/* Theme Switch */
#theme_switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    /* Sets the Theme Switch button to top right corner */
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/* Theme Switch SVG */
#theme_switcher svg {
    fill: var(--primary-color);
}

/* Hide the SVG last child(daymode) */
#theme_switcher svg:last-child {
    display: none;
}

/* Invert this for (nitemode) */
.darkmode #theme_switcher svg:first-child {
    display: none;
}

/* Make Last child visible in (nitemode) */
.darkmode #theme_switcher svg:last-child {
    display: block;
}


/* ************************************* */
/* ************************************* */
/* ************************************* */
/* ************************************* */
/* NEXT PAGE */

/* text is good to go already */

/* Format the FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

/* Header */
h1 {
    font-size: 3rem;
}

/* Inputs Section */
.the_inputs {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Do the Inputs */
input {
    background: none;
    border: var(--text-color) solid 2px;
    padding: 1em 3em;
    border-radius: 5px;
}

label {
    font-size: 1.2rem;
}

.input_section {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

/* Get Premiumed Button */
#prem_button {
    padding: 1em 3em;
    background-color: var(--accent-color);
    cursor: pointer;
}

/* Go Back Link */
#back_ {
    width: 100%;
    /* background-color: #3a435d; */
    display: flex;
    justify-content: center;
    color: #3a435d;
}

