/* CSS Variables */

/* The ROOT */
:root {
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

/* Whole Page */
* {
    margin: 0;
    padding: 0;
}

/* HTML */
html {
    font-family:'Courier New', Courier, monospace;
}

/* Body */
body {
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    /* border: 1px solid black; */
    width: 80%;
}

/* Header */
h1 {
    font-weight: bold;
    font-size: 2.2rem;
}

/* Para */
.para {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 60%;
    min-width: 400px;
    font-size: 1rem;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 1em;
}

/* The Buttons physical */
button {
    border: none;
    padding: 1em 4em;
    color: white;
    font-weight: bold;
}

/* The Buttons unique */
#button_1 {
    background-color: var(--accent-color);
    
}

#button_2 {
    background-color: var(--primary-color);
}

/* Darkmode */
.darkmode {
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

/* Theme Switch */
#theme_switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    /* Sets the Theme Switch button to top right corner */
    position: fixed;
    top: 20px;
    right: 20px;
}

/* Theme Switch SVG */
#theme_switcher svg {
    fill: var(--primary-color);
}
