/* CSS Variables */

/* The ROOT */
:root {
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

/* Whole Page */
* {
    margin: 0;
    padding: 0;
}

/* HTML */
html {
    font-family: Poppins;
}

/* Body */
body {
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    /* border: 1px solid black; */
    /* background-color: blue; */
    width: 80%;
}

/* Header */
.header {
    font-size: 2rem;
    font-weight: bold;
}

/* Para */
.para {
    font-family: Poppins;
    width: 70%;
    min-width: 280px;
    font-size: 1rem;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 1.2em;
    margin: 2em 0 0 0;
}

/* The Buttons physical */
button {
    border: none;
    padding: 1em 4em;
    padding: 2vh 6vw;
    color: white;
    /* font-weight: bold; */
    font-family: Poppins;
    font-size: 1rem;
    cursor: pointer;
}

/* Link in Buttons */
button a {
    text-decoration: none;
    color: white;
}

/* The Buttons unique */
#button_1 {
    background-color: var(--accent-color);
    
}

#button_2 {
    background-color: var(--primary-color);
}

/* Darkmode */
.darkmode {
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

/* Nav */
#index_nav {
    background-color: #3a435d;
    margin: 0 2em 0 2em;
}

/* Theme Switch */
#theme_switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    /* Sets the Theme Switch button to top right corner */
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/* Theme Switch SVG */
#theme_switcher svg {
    fill: var(--primary-color);
}

/* Hide the SVG last child(daymode) */
#theme_switcher svg:last-child {
    display: none;
}

/* Invert this for (nitemode) */
.darkmode #theme_switcher svg:first-child {
    display: none;
}

/* Make Last child visible in (nitemode) */
.darkmode #theme_switcher svg:last-child {
    display: block;
}


/* ************************************* */
/* ************************************* */
/* ************************************* */
/* ************************************* */
/* NEXT PAGE */

/* text is good to go already */

/* Format the FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

/* Header */
.prem_header {
    font-weight: bold;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
}


/* Inputs Section */
.the_inputs {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Do the Inputs */
input {
    background: none;
    border: var(--text-color) solid 2px;
    padding: 1.3em 4em;
    border-radius: 5px;
}

label {
    font-size: 1.2rem;
}

.input_section {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

/* Get Premiumed Button */
#prem_button {
    padding: 1em 3em;
    background-color: var(--accent-color);
    cursor: pointer;
}

/* Go Back Link */
#back_ {
    width: 100%;
    /* background-color: #3a435d; */
    display: flex;
    justify-content: center;
    color: #3a435d;
}


/* Smartphone Centering */


/* Portrait */
@media screen and (orientation: portrait) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .para {
        text-align: justify;
    }
}

/* Landscape */
@media screen and (orientation: landscape) {
    /* Make Container gap smaller */
    .container {
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    /* Make Header smaller */
    .header {
        font-size: 1.6rem;
        /* background-color: rebeccapurple; */
    }
    /* Make Para text smaller */
    .para {
        font-size: .8rem;
    }

    /* ************************************ */
    /* ************************************ */
    /* ************************************ */
    /* NEXT PAGE */
    form {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    /* Div with Inputs and Go Premium Button */
    .landscape_div {
        display: flex;
        flex-direction: column;
    }

    .prem_header {
        font-size: 2rem;
    }

    #name_ {
        padding: .5em 2em;
    }

    #password_ {
        padding: .5em 2em;
    }

    #prem_button {
        padding: .5em .5em;
        font-size: .8rem;
        margin-top: .5em;
    }
}

